#transaction-pool {
	max-height: 30rem;
	overflow-y: scroll;
	overflow-x: hidden;
}

.single-line{
	white-space: nowrap;
}

.navbar-default > * {
  /*outline:solid 1px red;*/
}

img{
 max-width:100%; 
}

/* colors */
body, html {
  background-color:#fffff;
  /*color:#fefefe;*/
  color: #3b4350;
}

.navbar-default {
	background-color:transparent;  
}

.navbar-default .btn{
  	background-color:#3b4350;
	color:#e7e7e7;
  	border:solid 1px #3b4350;
}

.navbar {
	background-color:#ffffff;
	color:#3b4350;
	border-bottom: solid 1px #3b4350;
}

a.navbar-brand,
a.page-scroll,
.navbar-toggle{
	color:#3b4350;
}

#txt_search{
 border:solid 2px #3b4350;
}

.panel-stats{
	color: #3b4350;
  	border:solid 1px #3b4350;
  	background-color:#ffffff;
}

.first-color{
 	background-color:#9b59b6;
}

.second-color{
 	background-color:#2980b9;
}

.third-color{
 	background-color:#f1c40f;
}

.fourth-color{
 	background-color:#e74c3c;
}

.list-group,
.panel-table{
	color: #3b4350;
}

footer{
background-color:#3b4350;
color: #e7e7e7;
position:relative;
z-index:1000;
}

/* MOBILE FIRST */
body, html {
   font-family: Montserrat; 
   /*font-family: 'Ubuntu Mono' ;*/
}

body {
  font-size: 16px;
}

h1 {
	font-size: 2.3rem;
}

h1 small,
h2 small,
h3 small{
	text-transform: none;
	overflow-wrap: break-word;
}


/* bootstrap mobile first override */
	.row {
			margin-right: 0px;
			margin-left: 0px;
	}	

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.input-group {
	margin: 0 3px;
}

#page-wrapper{
	padding-bottom:8.5rem;
}

footer{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:auto;
	padding-top:0.5rem;
	padding-bottom:1.5rem;
	font-size:1.1rem;
}

.tiny{
	font-size: 0.75em;
}

.large{
  font-size: 1.8em;
}

.huge {
    font-size: 3em;
}

.form-control, .btn{
	border-radius: 0px; 
}

.container{
  padding:0px;
}

.navbar-header {
/*   	width:50%; */
	display:inline-block;
	position:relative;

	float:left;
/*outline:solid 1px red;*/
}

.navbar-brand {
    height: auto;
    font-size: 2.4rem;
    line-height: 3.6rem;
    border:0;
    padding:0px 5px;
}

.navbar-brand img{
	max-width: 3.6rem;
  	margin-right: 1rem;
  	vertical-align:top;
}

.navbar-toggle {
  font-size:3rem;
}

.navbar-default {
	padding-top: 0.5rem;
  	padding-bottom: 1rem;
	border:0;
text-align:right;
}

.navbar-nav{
  	width:100%;
	float:none;
  	margin:0 0 0 0;
  	display:inline-block;
  	vertical-align: middle;
	/*text-align:right;*/
  	position:relative;
	max-width:420px;
	margin-top:0.5em;
/*outline:solid 1px green;*/
}

.navbar-nav li{
	display:inline-block; 
  	align:right;
}

.navbar-nav li:hover{
	background-color:#f7f7f7;
}

.nav > li > a {
  padding:0px 10px 10px 15px; 
}

.page-header{
	border:0;
}

.first-column {
	padding-left:0.5em;
}

#previous-blocks{
	font-size:0.9em;
	position:absolute;
	bottom:0;
}

#wide-header {
	/*display:none;*/
	margin: 0 auto;
	max-width:42rem;
	margin-top:14rem;
}

.panel {
	font-size: 1.2rem;
	border-radius: 0;
	margin-bottom: 0;
	box-shadow: 0;
}

.panel-heading {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	font-size:0.9em;
	padding: 10px 0px;
}

.panel-heading.large{
	font-size:1.6rem;
	font-weight:800;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    /*margin-left: 0;*/
	/*max-width: 20rem;*/
}


.page-header{
	padding-left: 0.5rem;
	margin-bottom: 0;
}

.hash-header, .hash{
	display:none;
}

.hash, .key{
	/*text-align: right;*/
	left: auto;
	top: 0.5rem;
	overflow-x:hidden;
	/*text-overflow: ellipsis;*/
	overflow-wrap: break-word;
}

.hash::before{
/*	content: "Hash:";*/
/*	margin-right:0.1rem;*/
}

.panel-table .panel-heading{
	font-weight:800;
	font-size:1.1em;
}

.panel-body{
	padding:0;
}

.row.show-grid{
	/*margin:1rem 0rem;*/
	border-bottom:1px solid #eaeaea;
	padding: 1rem 0rem 1rem 0.5rem;
	position:relative;
}

    p {
        margin: 0 0 3.5em;
        font-size: 1.2em;
        line-height: 1.6;
    }

.text {
  margin-top:14rem;
  font-size:0.7em;
  padding: 0rem 1em;
}

.row.show-grid a {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:100;
}

.row.show-grid a:link {
}

.row.show-grid a:visited {
}

.row.show-grid a:hover {
  outline:solid 2px #b9d3ee;
}

.row.show-grid a:focus {
}

.row.show-grid a:active {
  outline:solid 2px #b9d3ee;
}

.subnav {
	width: 100%;
	float: none;
	margin: 0 0 0 0;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	position: relative;
	margin-top: 0.5em;
	bottom: 0;
	right: 1rem;
	float: right;
	/*width: 30%;*/
}

.subnav li {
	display: inline-block;
	padding-top: 0.3em;
	padding-left: 1em;
	padding-right: 1em;	
	background:whitesmoke;
	outline: solid 1px white;
	padding: 0 0 0 0;
}	
	
.subnav li:hover {	
	background:#b7b7b7;
}

.subnav li a:hover {	
	background:#b7b7b7;
}

.subnav > li {
	float: left;
}


.data-table {
  width: 100%;
  margin: 0 auto;
}

.data-table > thead {
  background-color: #f1f1f1;
}

.data-table  th {
  padding: 5px;
}

.data-table tr:hover {
  background-color: #f5f5f5;
  cursor: default;
}

.data-table tbody td {
	text-align: center;
	
}

@media(min-width:480px) {

  .panel {
        font-size:1.5rem;
  }
	
	.data-table {
  	width: 80%;
	}

	#transaction-pool {
		max-height: 20rem;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	
}

@media(min-width:768px) {
	.row {
			margin-right: -15px;
			margin-left: -15px;
	}	
	
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
			position: relative;
			min-height: 1px;
			padding-right: 15px;
			padding-left: 15px;
	}	
	
	.hash-header{
	display:block;
	}

	.navbar {
		position:relative;
		height:12rem;
	}
  
  	.custom-search-form{
  		width:50%;
		float:left;
  		margin-top:0rem; /**/
    	position:absolute;
    	top:3rem;
    	right:1rem;
  	}
  
    #page-wrapper {
        position: inherit;
        /*margin: 0 0 0 250px;*/
        padding: 0rem 3rem 8.5rem 3rem;
    }  
  
  	.navbar-nav{
    	margin: 0;
  		position:absolute;
    	bottom:0;
    	right:1rem;
    	float:right;
/*    	width:30%;*/
	}

	.navbar-brand img{
		max-width: 8rem;
  		margin-right: 1rem;
  		vertical-align:top;
	}
  	.navbar-brand {
    	height: auto;
    	font-size: 6rem;
    	line-height: 8.2rem;
		border:0;
	}
  
	#wide-header {
		display:block;
		margin:0 auto;
    	max-width:100%;
	} 
  
    p {
        margin: 0 0 3.5rem;
        font-size: 2.0rem;
        line-height: 1.6;
    }  

  .panel-heading {
	font-size: 0.9em;
	padding: 10px 15px;
  }

  .hash {
	display:block;
  }

  .row.show-grid {
    border:0px;
  }

  .container {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
	
	.subnav li {
		padding-top: 0.3em;
		padding-left: 1em;
		padding-right: 1em;	
	}	
	
	.data-table {
  	width: 50%;
	}	
	
}

.closed {
  display:none;
}

.open {
  display:block;
}

.button.output-list {
  background-color: #ffffff;
  padding: 0;
  width: 4rem;
  height: 2rem;
  border:none;
}

.amount {
 text-align:right;
}

.warning {
 font-size:1em;
 outline:solid 2px #cd0a0a;
 background-color:#FBEFF5;
 color:#cd0a0a;
 width:90%;
 margin:0 auto;
/* height:50px;*/
 font-weight:bold;
 margin-top:20px;
 padding-left:2%;
}

.warning h3 {
 font-size:1.3em;
 display:inline-block;
}

.highlight {
 font-size:1em;
 border:solid 2px #dad55e;
 background:#fffa90;
 color:#777620;
 width:90%;
 margin:0 auto;
 font-weight:bold;
 margin-top:20px;
 padding-left:2%;
}